<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Apps</title>
     <script src="../static/js/jquery.min.js"></script>
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/custom.css">
</head>

<body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand">Applications</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <div class="container col-lg-6" style="margin-top: 140px;">
        <div style="padding-bottom: 0.5cm">
            <div class="card text-center bg-light">
                <div class="card-body" style="padding-bottom: 0.2cm">
                    <input class="card-title form-control" type="text" id="input" name="input" placeholder="Input sentence"/>
                    <button class="card-text btn btn-outline-primary" id="btn">Slot Filling</button>
                    <div class="spinner" id="spinner" style="display: none">
                      <div class="double-bounce1"></div>
                      <div class="double-bounce2"></div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <pre class="card-text api-pre" style="padding-bottom: 0.2cm">
                        <div class="item" id="api_input"> </div>
                        <div class="item" id="api_output"> </div>
                    </pre>
                </div>
            </div>

        </div>
        <div style="text-align: center">
                <button type="button" class="btn btn-primary" onclick="window.history.back(-1);">返回</button>
        </div>
    </div>




</body>



<script type="text/javascript">
    function api_call(input) {
        // hide button and make the spinner appear
        $('#btn').toggle();
        $('#spinner').toggle();

        $.ajax({
            url: "/slot_filling/run",
            method: 'post',
            data: {"input": input},
            success: function(data){
                // toggle the spinner and button
                $('#btn').toggle();
                $('#spinner').toggle();
                $('#api_input').html(data.input);
                $('#api_output').html(data.output);
                $("#input").val("");
            },
            timeout: 3000 // sets timeout to 10 seconds
        });
    }
    $( document ).ready(function() {
        $('#btn').click(function() {
            var input = $("#input").val();
            api_call(input);
            input = "";
        });

        //回车绑定
        $("#input").keydown(function(event){
            if(event.which == "13"){
                var input = $("#input").val();
                api_call(input);
                input = "";
            }
        });
    });
</script>

</html>